{% extends "::base.html.twig" %}


{% block title 'Demo Bundle' %}

{% block body %}
    {% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                <li><a href="{{ path('homepage') }}">Demo Home</a></li>
            {% endblock %}
        </ul>

    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}

        {#<p>#}
            {#<a href="{{ path('nelmio_api_doc_index') }}">{{ 'api.doc.link'|trans({}, 'AppBundle') }}</a>#}
        {#</p>#}
    </div>

{% endblock %}
