{% extends "AppBundle::layout.html.twig"%}


{% block content %}

    {{ form_start( form, {'action': path('put_user', {'id': id }), 'method':'PUT' }) }}

        {{ form_widget(form) }}

        <input type="submit" value="update" />

    {{ form_end( form ) }}

{% endblock %}