{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h1 class="title">User #{{ user.id }}</h1>

    <p>
        {{ user.name }}
        {{ user.login }}
    </p>
    <p>
        <a href="{{ path('get_users') }}">{{ 'user.list.link'|trans({}, 'AppBundle') }}</a> <br>
        [<a href="{{ path('remove_user', {'id': user.id}) }}">{{ 'user.remove.link'|trans({}, 'AppBundle') }}</a>]
        [<a href="{{ path('edit_user', {'id': user.id}) }}">{{ 'user.edit.link'|trans({}, 'AppBundle') }}</a>]
    </p>
{% endblock %}

