{% extends "AppBundle::layout.html.twig" %}

{% block title "List of Users" %}

{% block content %}
    <h1 class="title">{{ 'user.list.headline'|trans({}, 'AppBundle') }}</h1>

    <p>
        {{ 'user.list.limit'|trans({}, 'AppBundle') }}: {{ limit }}
    </p>

    <ul id="note-list">
        {% for user in users%}
            <li>
                <a href="{{ path('get_user', {'id': user.id}) }}">{{ user.name }}</a>
                [<a href="{{ path('edit_user', {'id': user.id}) }}">{{ 'user.edit.link'|trans({}, 'AppBundle') }}</a>]
                [<a href="{{ path('remove_user', {'id': user.id}) }}">{{ 'user.remove.link'|trans({}, 'AppBundle') }}</a>]
            </li>
        {% else %}
            <li>{{ 'user.list.empty'|trans({}, 'AppBundle') }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('new_user') }}">{{ 'user.new.link'|trans({}, 'AppBundle') }}</a>
    </p>
{% endblock %}
