{% extends "AppBundle::layout.html.twig" %}

{%  block title "Daily Activity Users (DAU) Full" %}

{%  block content %}
    <h1 class="title">{{ 'dau.full.headline'|trans({}, 'AppBundle') }}</h1>

    {%  set user_id = 0 %}
    {%  for visit in visits %}
        {%  if  user_id != visit.user.id %}
            <div style="border-bottom: solid 1px; width:35%">
                <a href="{{ path('get_user',{'id':visit.user.id}) }}">{{ visit.user.id }} | {{ visit.user.login }}</a>
            </div>
        {% endif %}


        {%  set user_id = visit.user.id %}

        {% if(user_id == visit.user.id ) %}
            <div style="padding-left: 30px;">
            {{ visit.registered|date("Y-m-d H:i:s") }}
            </div>
        {%  endif %}

    {% endfor %}

{%  endblock %}