{% extends "AppBundle::layout.html.twig" %}

{%  block title "Daily Activity Users (DAU)" %}

{%  block content %}

    <h1 class="title">{{ 'dau.list.headline'|trans({}, 'AppBundle') }}</h1>

    <p>
        {{ 'dau.param.from_date'|trans({}, 'AppBundle') }}: <i>{{ from_date }}</i><br/>
        {{ 'dau.param.to_date'|trans({}, 'AppBundle') }}: <i>{{ to_date }}</i>
    </p>

    {{ 'dau.list.count'|trans({}, 'AppBundle')}}: <b>{{  DAU_count }}</b>



{%  endblock %}