{% extends "AppBundle::layout.html.twig"%}

{% block content %}

    <h1 class="title">{{ 'visit.list.headline'|trans({}, 'AppBundle') }}</h1>

    <ul id="note-list">
        {% for visit in visits %}
            <li>
                {{ visit.id }} | {{ visit.registered|date('Y-m-d H:m:s') }} | {{ visit.user.name }}
            </li>
        {% else %}
            <li>{{ 'user.list.empty'|trans({}, 'AppBundle') }}</li>
        {% endfor %}
    </ul>

{% endblock %}