{% extends "AppBundle::layout.html.twig"%}

{% block content %}
    {{ form_start( form, {'action': path('post_visit'), 'method':'POST'}) }}
        {{ form_widget(form) }}

        <input type="submit" value="new" />
    {{ form_end(form) }}

{% endblock %}